extends layout_main

block content
	container.col-md-8

		br
		br
		h2 Les serveurs accessibles

		table.table.table-hover.table-bordered
			thead
				tr
					th Nom
					th Adresse
					th DateTime
			each item in data
				tr
					td #{item.author}
					td 
						a(href=item.ip, target='_blank') #{item.ip}
					td #{item.ctime}

		br
		h2 Ajoute ton serveur

		div
			p Faites attention à respecter toutes les règles d'acceptation de votre serveur ! 
				a(role='button', data-toggle='collapse', href='#info', aria-expanded='false', aria-controls='info') en savoir plus
			#info.collapse
				.well
					p Lors de l'ajout d'un serveur, le dispatch serveur (moi) envoie la requete suivante a votre serveur :
						br
						br
						b GET http://x.x.x.x:yyyy/server/isalive
						br
						br
						| Cette requête possède deux arguments dans son header, 
						b num1 
						| et 
						b num2.
						br
						| Il faut que votre serveur renvoie un 
						b status 200 
						| à la requete ainsi qu'un parametre 
						b sum 
						| dans le header egale a 
						b la somme de num1 et de num2.
						br
						br
						| Cette vérification s'assure que votre serveur est fonctionnel et que vous avez terminé la première partie.
						br
						br
						| Rappel : L'ajout de votre serveur sur ce dispatch serveur donnera accès a tous de venir le visiter.
						br
						| Pensez donc à créer un environnement de dev et un environnement de prod une fois l'ajout effectif.
						br
						| Le lien disponible ciblera la racine de votre serveur 
						br
						b GET http://x.x.x.x:yyyy/
						br
						br
						| Bon courage !
						br
						br
						span.help-block Note : Un serveur ajouté ne peut pas être retiré (par vous du moins ^^)

			form(name="addServer", method="post")
				div.input
					input(type="text", name="author", placeholder="Quel est votre nom ?").form-control
				br
				div.input
					input(type="text", name="ip", placeholder="Entrez l'ip de votre serveur et son port").form-control
				p.help-block exemple: 172.18.13.120:8000 (cfr: $ hostname -I)
				br
				div.actions
					input(type="submit", value="Ajouter mon serveur").btn.btn-success
